# Python
**/venv/
**/__pycache__/
**/.pytest_cache/
**/.coverage
**/.coverage.*
**/.coveragehtml/
**/.coverage.xml
**/.coverage.json
**/.coverage.yaml
**/.coverage.yml
**/htmlcov/
**/test_*/

# Editor
.DS_Store
.vscode/
.idea/

# Environment variables (root level)
.env